@import url('//fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('//fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  padding: 0em 1em 1em 1em;
  background-color: #f3f8fc;
}

h1, h2, h3, h4, h5, h6 {
  color: #f5c519;
}
a {
  color: #f5c519;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: #f5c519;
}
a:visited {
  color: #f5c519;
}

/* Header and logo */
#header {
  height: 50px;
  padding: 0.25em;
}
#logo_icon img {
  max-height: 2em;
  float: left;
  margin: 0.5em;
}
#logo_text {
  text-transform: lowercase;
  font-family: 'Ubuntu', sans-serif; 
  font-size: 1.5em;
  line-height: 2em;
}
#logo_text span {
  opacity: 0.5;
}

/* Paper overrides */
.paperRoot {
  overflow: hidden !important;
  padding-bottom: 1em;
}
h2, #paperGrant p {
  margin: 0.25em;
}
#paperGrant {
  background-color: #fff2d6;
  text-align: left;
}
#signatureForm {
  font-family: 'Euphoria Script', cursive;
  font-size: 1.5em;
}

/* Autograph signature overrides */
.MuiFilledInput-root, .MuiInputLabel-filled {
  margin-left: 5em !important
}
.tooltip::after {
	background-color: #d42e2e;
  font-size: 0.8em;
  font-weight: bold;
	color: #FFF;
	padding: 4px 8px;
	position: absolute;
	text-align: center;
	z-index: 999;
}
.tooltip::before {
	background-color: #d42e2e;
	content: ' ';
	position: absolute;
	width: 16.5px;
	height: 16.5px;
	z-index: 999;
}
.tooltip:hover::after {
	display: block;
}
.tooltip:hover::before {
	display: block;
}
.tooltip.left::after {
	content: 'Sign here';
	top: 40%;
	left: 0;
	transform: translateX(calc(-10%));
}
.tooltip.left::before {
	top: 46.5%;
	left: 74px;
	transform: translate(calc(-100%)) rotate(45deg);
}